name: make github release assets

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

jobs:
  make-github-release-assets:
    name: publish binaries
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - run: make package

      - name: upload files to release assets
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/serve-chat-*
          file_glob: true
          tag: ${{ github.ref }}
          overwrite: true
